
/* Logo
http://4vector.com/free-vector/2-beautiful-curtain-vector-5750 */



/* Creative Commons BY 3.0
image by by Freepik
http://www.flaticon.com/free-icon/seat_126893#term=cinema%20chair&page=1&position=23 */
.toggle-button{
    -fx-graphic: url('Images/seat%20(black).png');
}

.toggle-button:selected{
    -fx-graphic: url('Images/seat%20(blue).png');
}




#menu_button{
    -fx-background-color: linear-gradient(#ff3c3a, #be1d05);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 1.6em;
}

#menu_button:hover{
    -fx-background-color: linear-gradient(#be1d05, #ff3c3a);
}