
/* Logo
http://4vector.com/free-vector/2-beautiful-curtain-vector-5750 */



/* Creative Commons BY 3.0
image by by Freepik
http://www.flaticon.com/free-icon/seat_126893#term=cinema%20chair&page=1&position=23 */
.toggle-button{
    -fx-graphic: url('seat%20(black).png');
}

.toggle-button:selected{
    -fx-graphic: url('seat%20(red).png');
}




#menu_button{
    -fx-background-color: #ff9e80;
    -fx-text-fill: black;
    -fx-font-size: 1.6em;

}

#menu_button:hover{
    -fx-background-color: #ff3331;
}